.welcome-card {
  width: 40rem;
  padding: 2.2rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    to right top,
    var(--terracotta-600) 60%,
    var(--terracotta-400)
  );
  box-shadow: 0rem 2rem 2rem rgb(232 127 4 / 25%);
  transform: rotate(5deg);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}
.welcome-card:hover {
  transform: scale(1.05) translateX(40px);
}
.welcome-card:active {
  transform: scale(0.95);
}
.welcome-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-block-end: 3rem;
}
.welcome-card-body {
  margin-block-end: 5rem;
}

.welcome-card-title {
  font-size: 1.1rem;
  font-family: var(--dm-mono);
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--neutral-400);
}
.host-note {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-family: "Fraunces";
  font-style: italic;
  font-size: 2rem;
  color: var(--sun-200);
  margin-block-end: 2rem;
}
.host-name {
  color: var(--sun-50);
  font-size: 4rem;
}
.host-message {
  font-family: var(--dm-sans);
  color: var(--sun-50);
  font-weight: 300;
  font-size: 1.55rem;
}
.welcome-card-footer {
  color: var(--neutral-200);
}
.room-label {
  font-size: 1.2rem;
  font-family: "DM Sans";
  font-weight: 300;
  margin-block-end: 1.3rem;
}
.room-name {
  font-size: 2.7rem;
}
