.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 27rem;
  padding: 1.5rem;
  z-index: 100;
  border-right: 1px solid var(--neutral-400);
}
.sidebar:scroll .logo-link {
  display: block;
  margin-block-end: 2rem;
  width: fit-content;
  outline: none;
}
.list-divider {
  display: block;
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 0.1rem;
  background-color: var(--neutral-400);
  margin-block-end: 2rem;
}
.sidebar-item {
  padding: 1rem;
  list-style: none;
  transition: all 0.3s;
  display: flex;
  height: 4rem;
  outline: none;
  padding-left: 1rem;
  border-radius: 0.8rem;
  align-items: center;
}
.sidebar-item:hover {
  background-color: white;
}
.sidebar-item-link {
  text-decoration: none;
  color: var(--neutral-900);
  width: 100%;
  height: inherit;
  font-family: "DM Sans";
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.sidebar-item-number {
  background-color: var(--terracotta-700);
  color: white;
  margin-left: auto;
  font-size: 1.3rem;
  padding: 0.2rem 0.7rem;
  font-family: "Fraunces";
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.weather-details {
  background-color: var(--sun-300);
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.weather-icon {
  top: -20%;
  right: -6%;
  position: absolute;
}
.region {
  font-family: "DM Mono";
  color: var(--neutral-600);
  letter-spacing: 1px;
}
.temparature {
  font-family: "Fraunces";
  font-size: 3rem;
}
.descripe-weather {
  font-family: "DM Sans";
  color: var(--neutral-800);
  letter-spacing: 1px;
}
